@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

html {
	font-size : 16px;
}

body {
	margin      : 0;
	background  : #eee;
	font-family : "Montserrat", sans-serif;
	padding     : 0 1rem;
}

.wrapper {
	max-width    : 28rem;
	box-sizing   : border-box;
	padding      : 2rem 0;
	margin-left  : auto;
	margin-right : auto;
}

.title {
	font-size     : 1.5rem;
	font-weight   : 500;
	margin-bottom : 1.5rem;
	color         : #333;
	text-align    : center;
}

.item {
	border-top : 1px solid #555;
	text-align : center;
}

.item:last-child {
	border-bottom : 1px solid #555;
}

.item__radio {
	display : none;
}

.item__title {
	display     : flex;
	align-items : center;
	font-size   : 1.1rem;
	font-weight : 500;
	padding     : 1rem;
	position    : relative;
	color       : #333;
	transition  : all 0.3s;
	cursor      : pointer;
	text-align : left;
}

.item__text {
	flex: 1 0 1%;
}

.item__close {
	flex: none;
	margin-left : 1rem;
	transform: rotate(45deg);
	transition: all 0.3s;
	font-size: 0;
}

.item__close svg {
	transition: all 0.3s;
	fill: #333;
}

.item__input {
	height : 0;
	display : block;
	overflow : hidden;
	transition : all 0.3s;
}

.item__input img {
	height: 100%;
	object-fit: contain;
	width : 100%;
}

.item__radio:checked ~ .item__title {
	color : tomato;
}

.item__radio:checked ~ .item__input {
	height : 12rem;
}

.item__radio:checked ~ .item__title .item__close {
	transform: none;
	opacity : 1;
}

.item__radio:checked ~ .item__title .item__close svg {
	fill: tomato;
}

@media all and (min-width : 768px) {
	body {
		padding : 0 1.5rem;
	}

	.wrapper {
		padding   : 3.5rem 0;
		max-width : 40rem;
	}

	.title {
		font-size     : 2rem;
		margin-bottom : 2rem;
	}

	.item__title {
		font-size : 1.2em;
		padding   : 1.2rem;
	}

	.item__radio:checked ~ .item__input {
		height : 24rem;
	}
}

@media all and (min-width : 1200px) {
	body {
		padding : 0 2rem;
	}

	.wrapper {
		padding   : 5rem 0;
		max-width : 60rem;
	}

	.title {
		font-size     : 3rem;
		margin-bottom : 3.5rem;
	}

	.item__title {
		font-size : 1.5rem;
		padding   : 1.5rem 2rem;
	}

	.item__close {
		opacity : 0;
	}

	.item__close svg {
		width: 1.8rem;
		height: 1.8rem;
		fill: tomato;
	}
	
	.item__input img {
		cursor: pointer;
	}

	.item__radio:checked ~ .item__input {
		height : 30rem;
	}

	.item__radio:checked ~ .item__title .item__close {
		opacity : 0;
	}

	.wrapper:hover .item__title {
		color : tomato;
	}

	.wrapper:hover .item__title .item__close  {
		opacity : 1;
	}

	.item:hover .item__close {
		transform: none;
	}
	
	.item:hover .item__title {color: green;}
	.item:hover .item__close svg {fill: green;}
	
	.wrapper .item__title:active {color: purple;}
	.wrapper .item__close:active svg {fill: purple;}

	.item:hover .item__input {
		height : 30rem;
	}
}
